<div class="d-flex flex-wrap ps-5 pe-5 justify-content-around">
  <% @organizations.each do |organization| %>
    <div class="text-center mb-4">
      <div class="col">
        <div class="card rounded-3 shadow-sm bg-light border border-5">
          <div class="card-body">
            <h1 class="my-0 fw-normal display-6 header-title"><%= organization.name %></h1>
            <% if organization.pegged %>
              <div class="m-5 bg-success">
                <h1>🥳YES💃</h1>
              </div>
            <% else %>
              <div class="m-5 bg-danger">
                <h1>🙅‍♂️NO💸</h1>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
