<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <%= image_tag("peggedplacetowork/logo.png", width: 200) %>
    </a>

    <ul class="nav nav-pills">
      <% if current_page?(peggedplacetowork_root_path) %>
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/great_vs_pegged_place_to_work" class="nav-link">"Great" vs Pegged place to work</a></li>
      <% elsif current_page?('/great_vs_pegged_place_to_work') %>
        <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/great_vs_pegged_place_to_work" class="nav-link active">"Great" vs Pegged place to work</a></li>
      <% else %>
        <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/great_vs_pegged_place_to_work" class="nav-link">"Great" vs Pegged place to work</a></li>
      <% end %>

      <div>
        <% if current_user&.admin_user? %>
          <%= link_to 'Admin page', rails_admin_path, class: "ms-1 me-2 btn btn-success" %>          
        <% end %>

        <%= link_to 'Request Change', new_change_request_path, class: "ms-1 me-2 btn btn-warning" %>
        <%= link_to image_tag("github-logo.png", width: 40), "https://github.com/dilumn/tldr", target: '_blank' %>
      </div>
    </ul>
  </header>
</div>
