nav.pagination {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9rem;
  white-space: nowrap;

  align-items: flex-start;

  .page,
  .first,
  .next,
  .last,
  .prev {
    @extend .page-item !optional;

    &.current,
    &.gap {
      @extend .page-link !optional;
    }

    &.current {
      color: white !important;
      background-color: #0d6efd !important;
    }

    a {
      @extend .page-link;
    }
  }
}
