<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="/"/></svg>
      <%= image_tag("logo.png", width: 200) %>
    </a>

    <ul class="nav nav-pills">
      <% if current_page?(root_path) %>
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/great_vs_pegged_place_to_work" class="nav-link">"Great" vs Pegged place to work</a></li>
      <% elsif current_page?('/great_vs_pegged_place_to_work') %>
        <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/great_vs_pegged_place_to_work" class="nav-link active">"Great" vs Pegged place to work</a></li>
      <% else %>
        <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/great_vs_pegged_place_to_work" class="nav-link">"Great" vs Pegged place to work</a></li>
      <% end %>
      <%= link_to 'Request Change', new_change_request_path, class: "ms-1 btn btn-warning"%>
    </ul>
  </header>
</div>
